{
    "CN": "{{ cn_name }}",
    "key": {
      "algo": "rsa",
      "size": 2048
    },
    "names": [
      {
        "C": "US",
        "L": "Illinois",
        "O": "{{ o_name }}",
        "OU": "{{ ou_name }}",
        "ST": "Chicago"
      }
    ]
  }