frontend kubernetes
    bind {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}:6443
    option tcplog
    mode tcp
    default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
    mode tcp
    balance roundrobin
    option tcp-check
{%for host in k8s_masters %}
    server {{ host }} {{ hostvars[host]['ansible_host']  }}:6443 check fall 3 rise 2
{% endfor %}