node:
  id: k8s1
  cluster: k8s_master

admin:
  access_log_path: "/var/log/envoy-admin-access.log"
  address:
    socket_address:
      address: 0.0.0.0
      port_value: 8001

static_resources:
  secrets:
  - name: kubelet
    tls_certificate:
      certificate_chain:
        filename: "{{ kubernetes_conf_dir }}/{{ inventory_hostname }}.pem"
      private_key:
        filename: "{{ kubernetes_conf_dir }}/{{ inventory_hostname }}-key.pem"
  
  - name: proxy
    tls_certificate:
      certificate_chain:
        filename: "{{ kubernetes_conf_dir }}/kube-proxy.pem"
      private_key:
        filename: "{{ kubernetes_conf_dir }}/kube-proxy-key.pem"

  - name: validation_context
    validation_context:
      trusted_ca:
        filename: "{{ kubernetes_conf_dir }}/ca.pem"

dynamic_resources:
  cds_config:
    path: "/var/lib/envoy/cds.conf"
  lds_config:
    path: "/var/lib/envoy/lds.conf"
